.container-2{
    height: 900px;
    width: 1210px;
    border: 1px solid black;
    margin: 1.6rem auto;
    padding: 10px;
}

.trending-products{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    left:0;
    right:0; 
    top:10%;
    height: 800px;
    width: 100%;
    margin-top: 0.5em;
    border: 1px solid black;
}

.trending-products .card{
    /* position: relative; */
    height: 380px;
    width: 288px;
    margin: 0.5em 0.25em;
}

.trending-products img{
    height: 160px;
    width: 160px;
    margin: 3em auto;
}

.trending-products .card-text{
    text-align: center;
    letter-spacing:0.05em;
}

.trending-products .offer{
    font-size: 0.8rem;
    height: 17px;
    width: 120px;
    background-color: red;
    top: 10%;
    left: 0;
    color: #efefef;
    text-align: center;
    padding-bottom: 0.5em;
}
.trending-deals{
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 0.25em;
}

.trending-products i{
    color: red;
}

.carousel-item {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
}

